<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
	<div>有什么问题或好的想法都可以到<a href="https://github.com/wyy-class/public" target="_blank">GitHub</a>上留言，博主会尽可能解决！</div>
  </div>
</footer>